@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');


body {
  margin: 0; 
  background-color: rgba(17, 166, 211, 0.815);
  background: linear-gradient(to right, rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  font-family: "Arial", sans-serif;
}

.board{
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

h1 {
  margin: 10px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  font-family: 'Londrina Outline', cursive;
  color: white;
  font-size: 150px;
  text-shadow: 7px 7px rgb(132, 51, 169);
}

p {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 75px;
  color: white;
  text-shadow: 5px 5px rgb(97, 97, 97);
  margin: .5em;
}

.cell {
  width: $cell-size;
  height: $cell-size;
  border: 3px solid black;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: calc(100% / 3);
  font-size: 20vh;
  font-family: 'Nunito', sans-serif;
  color: white;
  text-shadow: 6px 6px rgb(97, 97, 97);
  &:hover {
    background-color:  rgba(17, 166, 211, 0.815);
    background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
  user-select: none;

  &:nth-child(3n) {
    border-right: 0;
  }
  // Select the last 3 elements
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  &:nth-child(3n + 1) {
    border-left: none;
  }
  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
  border-top: none;
  }
}

.end-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(132, 51, 169);
  background: linear-gradient(to right, rgba(17, 166, 211, 0.815), rgb(112, 115, 227), rgba(17, 166, 211, 0.815));
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 200px;
  flex-direction: column;
  font-family: 'Bubblegum Sans', sans-serif;
}

.end-message button {
  font-size: 3rem;
  background-color: rgb(132, 51, 169);
  border: 3px solid white;
  padding: .25em .5em;
  color: white;
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

.end-message button:hover {
  color: black;
  border-color: rgb(132, 51, 169);
  background-color: rgba(17, 166, 211, 0.815);
  background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
}

.end-message.hide {
  display: none;
}

.end-message.show {
  display: flex;
}

.game-buttons {
  justify-content: center;
  text-align: center;
  padding: .5em .25em;
  margin: .5em .25em;
  font-size: 1.75em;
}

#create-game {
  padding: .5em 2em;
  color: white;
  background-color: rgb(132, 51, 169);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
  border: 3px solid white;
  &:hover {
  color: black;
  border-color: rgb(132, 51, 169);
  background-color: rgba(17, 166, 211, 0.815);
  background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
}

#games-played{
  padding: .5em 2em;
  color: white;
  background-color: rgb(132, 51, 169);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
  border: 3px solid white;
  &:hover {
    color: black;
    border-color: rgb(132, 51, 169);
    background-color: rgba(17, 166, 211, 0.815);
    background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
}

#login {
  border: 3px solid rgb(132, 51, 169);
  display: block;
  background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815), rgba(17, 166, 211, 0.815), rgb(112, 115, 227));
}

#sign-in {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(132, 51, 169);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#sign-in button {
  color: white;
  background-color: rgb(132, 51, 169);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(132, 51, 169);
    background-color: rgba(17, 166, 211, 0.815);
    background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
}

#sign-up {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(132, 51, 169);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#sign-up button {
  color: white;
  background-color: rgb(132, 51, 169);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(132, 51, 169);
    background-color: rgba(17, 166, 211, 0.815);
    background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
}

#sign-out {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(132, 51, 169);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#sign-out button {
  color: white;
  background-color: rgb(132, 51, 169);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(132, 51, 169);
    background-color: rgba(17, 166, 211, 0.815);
    background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
}

#change-password {
  font-size: 1.5em;
  padding: .5em .25em;
  color: rgb(132, 51, 169);
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

#change-password button {
  color: white;
  background-color: rgb(132, 51, 169);
  border: 2px solid white;
  &:hover {
    color: black;
    border-color: rgb(132, 51, 169);
    background-color: rgba(17, 166, 211, 0.815);
    background: linear-gradient(to left,  rgb(112, 115, 227), rgba(17, 166, 211, 0.815), rgba(66, 236, 165, 0.815));
  }
}


#authenticated {
  display: none;
}
